[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
rope = "*"
pylint = "*"

[packages]
requests = "*"
flask = "*"
pdfkit = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
